* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container1 {
  width: 100%;
  max-width: 1200px;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.containerAzul {
  width: 100%;
  background-color: rgb(60, 60, 109);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 24px;
}

.logo {
  background-color: brown;
  display: flex;
  padding: 1rem;
  flex-grow: 1;
  cursor: pointer;
  transition: all 0.2s;
}

.logo:hover {
  transform: scale(1.2);
  background-color: rgb(247, 6, 126);
}

.nav {
  background-color: brown;
  display: flex;
  padding: 1rem;
  flex-grow: 4;
}

.social {
  background-color: brown;
  display: flex;
  padding: 1rem;
  flex-grow: 1;
}

.containerNaranja {
  width: 100%;
  background-color: orange;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.banner {
  width: 100%;
  background-color: yellow;
}

.banner p {
  font-weight: bold;
  font-size: xx-large;
  padding: 1.5rem;
}

.container2 {
  width: 100%;
  max-width: 1200px;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
}
.containergris {
  background-color: rgb(102, 103, 136);
  padding: 1.5rem;
  display: flex;
  flex-grow: 6;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.article1,
.article2,
.article3,
.article4 {
  background-color: rgb(60, 71, 214);
  flex: 1 1 calc(50% - 24px);
  display: flex;
  padding: 1rem;
}

.navegacion {
  width: 100%;
  background-color: rgb(60, 152, 214);
  display: flex;
  padding: 1rem;
}

.containerrosa {
  width: 100%;
  max-width: 200px;
  background-color: rgb(255, 0, 119);
  padding: 24px;
  display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  row-gap: 0.8rem;
  align-content: flex-start;
}

.publicidad1,
.publicidad2 {
  width: 100%;
  background-color: yellow;
  padding: 0.8rem 0.5rem;
  display: flex;
  align-items: center;
}

.container3 {
  width: 100%;
  max-width: 1200px;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1.5rem;
}

.pie {
  width: 100%;
  background-color: rgb(243, 243, 172);
  padding: 1rem;
}

@media (max-width: 830px) {
  .logo,
  .nav,
  .social {
    width: 100%;
  }

  .containerrosa {
    max-width: 100%;
  }

  body {
    background-color: rgb(161, 236, 233);
  }
}

@media (max-width: 576px) {
  .article1,
  .article2,
  .article3,
  .article4 {
    flex: 1 1 100%;
  }

  body {
    background-color: rgb(241, 163, 228);
  }
}
